! xresources
! ==========

#define base00 #181818
#define base01 #282828
#define base02 #383838
#define base03 #585858
#define base04 #b8b8b8
#define base05 #d8d8d8
#define base06 #e8e8e8
#define base07 #f8f8f8
#define base08 #ab4642
#define base09 #dc9656
#define base0A #f7ca88
#define base0B #a1b56c
#define base0C #86c1b9
#define base0D #7cafc2
#define base0E #ba8baf
#define base0F #a16946

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! rxvt-unicode
! ============

URxvt.scrollBar: false
URxvt.font: xft:monospace:size=12

! default dark
! URxvt.background:                     #181818
! URxvt.foreground:                     #d8d8d8
! URxvt.cursorColor:                    #d8d8d8
! 
! URxvt.scrollColor:                    #d8d8d8
! URxvt.highlightColor:                 #383838
! URxvt.highlightTextColor:             #b8b8b8
! 
! URxvt.color0:                         #181818
! URxvt.color1:                         #ab4642
! URxvt.color2:                         #a1b56c
! URxvt.color3:                         #f7ca88
! URxvt.color4:                         #7cafc2
! URxvt.color5:                         #ba8baf
! URxvt.color6:                         #86c1b9
! URxvt.color7:                         #d8d8d8
! URxvt.color8:                         #585858
! URxvt.color9:                         #ab4642
! URxvt.color10:                        #a1b56c
! URxvt.color11:                        #f7ca88
! URxvt.color12:                        #7cafc2
! URxvt.color13:                        #ba8baf
! URxvt.color14:                        #86c1b9
! URxvt.color15:                        #f8f8f8
! 
! URxvt.color16:                        #dc9656
! URxvt.color17:                        #a16946
! URxvt.color18:                        #282828
! URxvt.color19:                        #383838
! URxvt.color20:                        #b8b8b8
! URxvt.color21:                        #e8e8e8

! irblack dark
URxvt*background:                     #000000
URxvt*foreground:                     #b5b3aa
URxvt*cursorColor:                    #b5b3aa

URxvt*scrollColor:                    #b5b3aa
URxvt*highlightColor:                 #484844
URxvt*highlightTextColor:             #918f88

URxvt*color0:                         #000000
URxvt*color1:                         #ff6c60
URxvt*color2:                         #a8ff60
URxvt*color3:                         #ffffb6
URxvt*color4:                         #96cbfe
URxvt*color5:                         #ff73fd
URxvt*color6:                         #c6c5fe
URxvt*color7:                         #b5b3aa
URxvt*color8:                         #6c6c66
URxvt*color9:                         #ff6c60
URxvt*color10:                        #a8ff60
URxvt*color11:                        #ffffb6
URxvt*color12:                        #96cbfe
URxvt*color13:                        #ff73fd
URxvt*color14:                        #c6c5fe
URxvt*color15:                        #fdfbee

URxvt*color16:                        #e9c062
URxvt*color17:                        #b18a3d
URxvt*color18:                        #242422
URxvt*color19:                        #484844
URxvt*color20:                        #918f88
URxvt*color21:                        #d9d7cc


URxvt.perl-ext-common: default,matcher,fullscreen,resize-font
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! rofi
! ====

! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #181818, #f8f8f8, #181818, #f8f8f8, #181818
rofi.color-urgent: #181818, #ab4642, #181818, #ab4642, #181818
rofi.color-active: #181818, #7cafc2, #181818, #7cafc2, #181818
!                  'bg',    'border'
rofi.color-window: #181818, #f8f8f8
