[Unit]
Description=Record rhinestone memory metrics every minute
ConditionHost=rhinestone

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=5s
Unit=rhinestone-memory-monitor.service

[Install]
WantedBy=timers.target
