[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
molecule = "*"
boto = "*"
"boto3" = "*"
botocore = "*"
apache-libcloud = "*"
pycrypto = "*"

[dev-packages]

[requires]
python_version = "3.6"
